<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Employee Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div>
	<div>
		<div>
			<h3>Employee Registration</h3>
		</div>
		<form action="#" th:action="@{/employee/add}" th:object="${employee}" method="post">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <ol th:each="err : ${#fields.errors('*')}" th:text="${err}"></ol>
                </ul>
            </div>
			<div>
				<div>
					<label>First Name:</label>
					<div><input type="text" th:field="*{firstName}" /></div>
				</div>
				<div>
					<label>Last Name:</label>
					<div class="col-md-9"><input type="text" th:field="*{lastName}" /></div>
				</div>
				<div>
					<label>E-Mail:</label>
					<div class="col-md-9"><input type="text" th:field="*{email}" /></div>
				</div>
				<div>
					<div>
						<select class="form-control" th:field="*{jobPosition}">
							<option th:each="jobPosition : ${T(com.manjula.eleave.employee.model.JobPosition).values()}"
									th:value="${jobPosition}"
									th:text="${jobPosition}">
						</select>
					</div>
				</div>
				<div>
					<div>
						<select class="form-control" th:field="*{role}">
							<option th:each="role : ${T(com.manjula.eleave.employee.model.Role).values()}"
									th:value="${role}"
									th:text="${role}">
						</select>
					</div>
				</div>
				<div>
					<div>
						<button type="submit">Save</button>
						<div th:if="${message}" th:text="${message}"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>
