<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div>
		<div th:if="${leaves} != null">
			<div>
				<h3><b>Users</b>
				    <a th:href="@{/leave/add}">Add</a>
				</h3>
			</div>
			<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>E-Mail</th>
					<th>Action</th>
				</tr>
				<tr th:each="leave : ${leaves}" th:if="${not #lists.isEmpty(leaves)}">
					<td th:text="${leave.firstName}"></td>
					<td th:text="${leave.lastName}"></td>
					<td th:text="${leave.email}"></td>
					<td>
						<a th:href="@{/leave/view(id=${leave.id})}">View</a>
						<a th:href="@{/leave/update(id=${leave.id})}">Edit</a>
						<a th:href="@{/leave/delete(id=${leave.id})}">Delete</a>
					</td>
				</tr>
				<tr th:if="${#lists.isEmpty(leaves)}">
					<td colspan="3">No result found</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
